<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Load the properties file: sport.properties -->
    <context:property-placeholder location="classpath:sport.properties"/>

    <!-- define the dependency -->
    <bean id="myFortune"
          class="com.course.springdemo.HappyFortuneService">
    </bean>

    <!-- Define beans. id is like alias, class classname of implementation class-->
    <bean id="myCoach"
          class="com.course.springdemo.TrackCoach">

          <!--set up constructor injection-->
          <constructor-arg ref="myFortune"/>
    </bean>

    <bean id="myCricketCoach"
          class="com.course.springdemo.CricketCoach">

        <!--set up setter injection-->
        <property name="fortuneService" ref="myFortune"/>

        <!--inject literal values-->
        <property name="emailAddress" value="${foo.email}"/>
        <property name="team" value="${foo.team}"/>

    </bean>

    <bean id="myRandomFortune"
           class="com.course.springdemo.MyFortuneService">
    </bean>
    <bean id="myRunnerCoach"
          class="com.course.springdemo.RunnerCoach">

        <!-- solution - this will inject constructor in myRunnerCoach class -->
        <constructor-arg ref="myRandomFortune"/>

        <!-- My implementation - this will inject setter method in myRunnerCoach class -->
        <property name="fortuneService" ref="myRandomFortune"/>
    </bean>

</beans>